pandas==2.3.3
numpy==2.4.3
xgboost==3.2.0
scikit-learn==1.8.0
lightgbm==4.6.0
optuna==4.7.0
shap==0.51.0
geopandas
folium==0.20.0
streamlit==1.55.0
streamlit-folium
reportlab==4.4.10
matplotlib==3.10.8
seaborn==0.13.2
plotly==6.6.0
joblib==1.5.3
pytest==9.0.2
